In [142]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [143]:
path = 'C:/Users/user/Downloads/Loan Prediction'
loan = pd.read_csv(path + '/Loan.csv')
test = pd.read_csv(path + '/testloan.csv')

In [144]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [145]:
test.dropna(inplace = True)

In [146]:
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Yes
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,No
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Yes
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Yes
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Yes

In [147]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    float64
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 62.5+ KB

In [148]:
loan.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [149]:
loan.dropna(inplace=True)

In [150]:
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,No
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Yes
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Yes
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Yes
5,LP001011,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Yes

In [151]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [152]:
le = LabelEncoder()
scaler = MinMaxScaler()

In [153]:
loan['Loan_Status'] = le.fit_transform(loan['Loan_Status'])

In [154]:
X_train = loan.drop(['Loan_Status'],axis=1)
y_train = loan['Loan_Status']

In [155]:
X_train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban
5,LP001011,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0.0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural
610,LP002979,Male,Yes,3.0,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural
611,LP002983,Male,Yes,1.0,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban
612,LP002984,Male,Yes,2.0,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban
613,LP002990,Female,No,0.0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [156]:
print(y_train)

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int32

In [157]:
#LABEL ENCODING
loan['Married'] = le.fit_transform(loan['Married']) 
loan['Gender'] = le.fit_transform(loan['Gender'])
loan['Education']= le.fit_transform(loan['Education'])
loan['Self_Employed'] = le.fit_transform(loan['Self_Employed'] )
loan['Property_Area'] =le.fit_transform(loan['Property_Area'])

In [158]:
def processing_data(loan):

    loan['Married'] = le.fit_transform(loan['Married']) 
    loan['Gender'] = le.fit_transform(loan['Gender'])
    loan['Education']= le.fit_transform(loan['Education'])
    loan['Self_Employed'] = le.fit_transform(loan['Self_Employed'] )
    loan['Property_Area'] =le.fit_transform(loan['Property_Area'])

    loan = loan.drop(['Loan_ID'], axis=1)

    scaler = MinMaxScaler(feature_range=(0, 1))
    loan = scaler.fit_transform(loan)
    
    return loan

In [159]:
processed_test = processing_data(test)

In [160]:
processed_train = processing_data(X_train)

In [161]:
processed_train.shape

(480, 11)

In [162]:
from sklearn.model_selection import train_test_split

In [163]:
X_train,X_test,y_train,y_test = train_test_split(processed_train,y_train,test_size=0.25,
                                                 stratify = y_train,random_state=42)

In [164]:
from xgboost import XGBClassifier

In [165]:
xg_model = XGBClassifier()

In [166]:
from sklearn.model_selection import GridSearchCV

param_grid ={
    'min_child_weighth': [1,5,10],
    'gamma':[0.5,1],
    'subsample':[0.6,0.8,1.0],
    'max_depth':[3,5]
}

xgb_model = GridSearchCV(xg_model,param_grid,n_jobs=2,verbose=2,cv=5)
xgb_model.fit(X_train,y_train)

print(xgb_model.best_params_)

Fitting 5 folds for each of 36 candidates, totalling 180 fits
[13:27:36] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "min_child_weighth" } are not used.

{'gamma': 0.5, 'max_depth': 3, 'min_child_weighth': 1, 'subsample': 1.0}

In [167]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [168]:
xgb_model = XGBClassifier(gamma =0.5,max_depth=3,subsample=1)

xgb_model.fit(X_train,y_train)

y_pred = xgb_model.predict(X_test)

In [132]:
print('Error rate of XGBClassifier:', 1 - accuracy_score(y_test,y_pred))

Error rate of XGBClassifier: 0.17500000000000004

In [169]:
test.Loan_Status = xgb_model.predict(processed_test)

In [170]:
loan_submission = pd.DataFrame({'Loan_ID':test['Loan_ID'] ,
                               'Loan_Status':test.Loan_Status})

In [171]:
loan_submission.sample(5)

      Loan_ID  Loan_Status
210  LP002167            1
10   LP001078            0
218  LP002195            1
140  LP001785            0
345  LP002878            1

In [173]:
loan_submission.to_csv(path +'/loan_submission.csv')